
.form{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4,.p__first{
    margin-left: 20px;
}
.countainner__box{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 20px;
    width: 500px;
    height: 300px;
    border: 1px solid orange;
}
.countainner__box1{
    margin: 20px;
    position: relative;
}
.check__box{
    margin-top:-15px ;
    display: flex;
    flex-direction: column;
}

.select__box{
    display: flex;
}
.countainner__box .input{
    display: flex;
    flex-direction: column;

}
.select__box__item{
    margin: 20px;
}
.select__box__item select,.select__box__item input{
    width: 130px;
    height: 25px;
    margin-left: -16px;
}
.check__box__item{
    margin-bottom: -10px;
    padding: 10px;
}
.select__box__item input{
    position: absolute;
    height:20px;
    top: 185px;
}
.submit__box input{
    background-color: orange;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
}
.submit__box2 {
    margin-top: 30px;
    margin-bottom: -127px;
}
.input{
    margin-top: -130px;
    gap: 10px;
    width: 90%;
}
.input input{
    height: 30px;
    background-color: rgb(239, 234, 234);
    border: 1px solid rgb(239, 234, 234);
}
